body {
	overscroll-behavior: contain;
}

.hidden {
	display: none;
}

.canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: grab;
}
*:has(> .canvas:active) * {
	user-select: none;
	cursor: grabbing;
}

.settings-base {
	position: fixed;
    z-index: 10;
	padding: 10px;
	margin: 15px;
	background-color: #d6e1ef;
	border-radius: 10px;
	transition: transform .5s ease-in-out;
}
.settings-box {
	width: 400px;
	height: calc(100vh - 30px);
	transition-delay: .6s;
	overflow-y: auto;
}
.settings-box.closed {
	transform: translateX(calc(-100% - 30px));
	transition-delay: 0s;
}
.open-settings-box {
	cursor: pointer;
	transform: translateX(calc(-100% - 30px));
	transition-delay: 0s;
}
.settings-box.closed + .open-settings-box {
	transform: translateX(0);
	transition-delay: .6s;
}
.close-settings {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	font-size: larger;
}

@media screen and (max-width: 768px) {
	.settings-box {
		width: calc(100vw - 30px);
		height: 50vh;
		bottom: 0;
	}
}

.settings-stage {
	text-align: center;
	padding: 10px;
	background: #E3EEFC;
	border: #C1CAD6 1px solid;
	border-radius: 5px;
}

.type-selection {
	display: flex;
	flex-direction: row;
	overflow-y: auto;
	padding: 5px;
}
.type-selection .card {
	margin-right: 5px;
	min-width: max-content;
	cursor: pointer;
	box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12), .3s box-shadow;
}
.type-selection .card:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.type-selection .card:last-of-type {
	margin-right: 0;
}

.shape-image-selected {
	filter: invert(1);
}

.shape-setting-group {
	margin-bottom: 10px;
}

.playback-container {
	display: flex;
	margin-top: 20px;
	background-color: #f3f8fe;
	padding: 10px;
	border: #C1CAD6 1px solid;
	border-radius: 5px;
}

.playback-play {
	background: rgba(0,0,0,0);
	border: 0;
	border-radius: 3px;
	flex-shrink: 0;
	overflow: visible;
	padding: 0 7px;
	transition: all .3s ease;
}
.playback-container:not(.text-muted) > .playback-play:hover {
	background: #0d6efd;
	color: white;
}

.playback-seek {
	flex: 1;
	margin: 0 10px;
	margin-bottom: -6px
}

.playback-time {
	flex-shrink: 0;
	margin-left: 10px;
}
