.hidden {
	display: none !important;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

body:has(#page:not(.hidden)) {
	background: whitesmoke;
}

.settings-container {
	margin: 20px;
}

fieldset {
	overflow-y: auto;
	overflow-x: hidden;
}

@media (min-width: 992px) {
	.settings-container {
		height: calc(100vh - 40px);
	}
	.settings-container .container, .settings-container .row, .settings-container .col-lg-8 fieldset {
		height: calc(100vh - 40px);
	}
	.settings-container .col-lg-4 fieldset {
		height: calc(50vh - 20px);
	}
}

.settings-container fieldset {
	background: white;
	border: lightgray 1px solid;
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 20px;
}
.settings-container legend {
	float: initial;
	width: auto;
}

.presets-table th, .presets-table td {
	vertical-align: middle;
}

.grey-message {
	color: gray;
	font-size: x-large;
	margin: 0 20% 0 20%;
	text-align: center;
}

.message-container:has(.no-permission:not(.hidden)) {
	display: flex;
	justify-content: center;
	align-items: center;
	filter: brightness(0.9);
}

.preset-actions-field {
	text-align: center;
}
.preset-actions-field button {
	margin: 5px;
}

.preset-name-field {
	overflow: hidden;
	text-overflow: ellipsis;
}

.error-text {
	color: #dc3545;
	font-size: 0.9em;
}

.current-status {
	color: black;
}
.current-status-active {
	font-weight: bold;
}

.admin-profile-picture {
	border-radius: 50%;
	height: 50px;
	margin-right: 10px;
}
