body {
	overscroll-behavior: contain;
	overflow: hidden;
}

.hidden {
	display: none !important;
}

.canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: grab;
}
*:has(> .canvas:active) * {
	user-select: none;
	cursor: grabbing;
}

.side-overlay-base {
	position: fixed;
	z-index: 10;
	padding: 10px;
	margin: 15px;
	background-color: #d6e1ef;
	border-radius: 10px;
	transition: transform .5s ease-in-out;
}
.side-overlay {
	width: 400px;
	height: calc(100vh - 30px);
	transition-delay: .6s;
	overflow-y: auto;
}
.side-overlay.closed {
	transform: translateX(calc(-100% - 30px));
	transition-delay: 0s;
}
.close-settings-popup {
	transform: translateX(calc(-100% - 30px));
	transition-delay: 0s;
}
.settings-box.closed ~ .close-settings-popup {
	transform: translateX(0);
	transition-delay: .6s;
}
.open-settings-button {
	cursor: pointer;
}
.fullscreen-playback {
	bottom: 0;
}
.close-settings {
	top: 0px;
	font-size: larger;
	border-radius: 50%;
	z-index: 100;
	float: right;
	position: sticky;
}

.side-overlay-help {
	transition-delay: 0s;
	width: 600px;
	z-index: 200;
}

@media screen and (min-width: 769px) {
	.settings-box::-webkit-scrollbar, .type-selection::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	.settings-box::-webkit-scrollbar-thumb, .type-selection::-webkit-scrollbar-thumb {
		background: rgba(0,0,0,.25);
		border-radius: 10px;
	}

	.settings-box::-webkit-scrollbar-thumb:active, .type-selection::-webkit-scrollbar-thumb:active {
		background: rgba(0,0,0,.4);
	}
}

@media screen and (max-width: 768px) {
	.side-overlay {
		width: calc(100vw - 30px);
		height: 50vh;
		bottom: 0;
	}

	.zoom {
		transition: bottom .5s ease-in-out;
		transition-delay: .6s;
	}
	.settings-box.closed ~ .zoom {
		transition-delay: 0s;
	}
	.settings-box:not(.closed) ~ .zoom {
		bottom: calc(50vh + 15px + 15px);
	}
	.fullscreen-playback {
		width: calc(100vw - 87px);
	}
}

.side-overlay-help {
	height: calc(100% - 30px);
}

.settings-stage {
	text-align: center;
	padding: 10px;
	background: #E3EEFC;
	border: #C1CAD6 1px solid;
	border-radius: 5px;
}
.settings-help-link {
	text-decoration: none;
	color: black;
	cursor: help;
}
.settings-help-link:hover {
	text-decoration: underline;
	color: black;
}

.type-selection {
	display: flex;
	flex-direction: row;
	overflow-y: auto;
	padding: 5px;
}
.type-selection .card {
	margin-right: 5px;
	min-width: max-content;
	cursor: pointer;
	box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12), .3s box-shadow, .3s background-color;
}
.type-selection .card:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	background-color: #e2e2e2;
}
.type-selection .card:last-of-type {
	margin-right: 0;
}

.shape-image-selected {
	filter: invert(1);
}

.setting-group {
	margin-bottom: 10px;
}
.settings-stage > .setting-group:last-of-type {
	margin-bottom: 0;
}

.playback-container {
	display: flex;
	background-color: #f3f8fe;
	padding: 10px;
	border: #C1CAD6 1px solid;
	border-radius: 5px;
}

.playback-button {
	background: rgba(0,0,0,0);
	border: 0;
	border-radius: 3px;
	flex-shrink: 0;
	overflow: visible;
	padding: 0 7px;
	transition: all .3s ease;
}
.playback-container:not(.text-muted) > .playback-button:hover {
	background: #0d6efd;
	color: white;
}

.playback-seek {
	flex: 1;
	margin: 0 10px;
	margin-bottom: -6px
}

.playback-time {
	flex-shrink: 0;
	margin-left: 10px;
}

.zoom {
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.fps-counter {
	position: fixed;
	top: 8px;
	right: 15px;
}

small a, small a:hover, small a:visited {
	color: inherit;
}

.vertex-rules-container {
	padding: 0;
}
.vertex-rules-container:has(input:focus) {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}
.vertex-rules-container.is-invalid:has(input:focus) {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.25rem rgba(220,53,69,.25);
}

.help-menu-image {
	width: calc(100% - 40px);
	margin: 20px;
}

details summary {
	user-select: none;
}

details summary.text-muted,
details[disabled] summary,
a.text-muted {
	pointer-events: none;
	cursor: default;
}

.vertex-rules-details[disabled] summary a {
	pointer-events: all;
	cursor: help;
}

.error-text {
	color: #dc3545;
	font-size: 0.9em;
}

.saves-container {
	display: flex;
	flex-wrap: wrap;
}
.saves-container:has(> span) {
	justify-content: center;
}
.saves-container > span {
	margin: 5px;
}
.save-card {
	margin: 5px;
	width: calc(50% - 10px);
	box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}
.save-card:hover {
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12), .3s box-shadow;
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.save-card .button-container {
	display: flex;
	align-items: center;
	position: relative;
}
.save-card .delete-button {
	position: absolute;
	right: 0;
}
.save-card .card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
